ul {
    list-style: none;
    text-align: right;
    padding: 0;
}

.icon {
    float: left;
}

.icon > h2 {
    margin: 0;
}

li {
    font-size: 1.2em;
    padding: 15px 25px;
    display: inline-block;
}

.button-green {
    background-color: green;
    color:white

}
.mobile {
    display: none;

}

.icon.mobile {
    background-color: black;
    color:white;
}
.center{
    text-align: center;
    background-color: coral;
}

@media only screen and (max-width 600px){
    html{
        font-size: 12px;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display:none;
    }
}